* {
  font-family: 'Asap', sans-serif;
}
/*HEADER*/
a {
  display: inline-block;
}
.left-header {
  /*display: inline-block;*/
  font-weight: bolder;
  margin: 0 20px 25px 0;
}
.space-header {
  margin: 0 500px 0 0;
}
.right-header {
  font-weight: bolder;
  margin: 0 20px 0 0;
  /*float: right;*/
}
.logo {
  height: 28px;
}
/*FIRST RED DIV*/
.first-div {
  background: red;
  color: white;
}

.shoe1 {
  height: 175px;
  margin: 150px;
}
.first {
  width: 300px;
  margin: 0 150px;
}
.hr {
  float: left;
}
.button {
  display: inline-block;
  margin: 0 150px;
}
.arrow {
  /*display: inline-block;*/
  margin: 0 0 0 0;
}
.shoe-arrow {
  display: inline-block;
}
.shoe1-words {
  /*margin-bottom: 300px;*/
}

/*second div white*/
.second {
  margin: 0 150px;
}

/*third div red*/
.red {
  background: red;
}
.third {
  /*margin: 0 150px;*/
  /*background: red;*/
}
.shoes2 {
  height: 175px;
  /*margin: 0 150px;*/
}
.shoes3 {
  display: inline-block;
  margin: 50px 0 0 100px;
}
.pink {
  background: pink;
}

/*footer*/
.left {
  color: orange;
}
.right {
  color: orange;
}
h4 {
  color: orange;
}
h3, h5 {
  color: black;
}
h6 {
  color: grey;
}
.third h3 {
  color: white;
}
