/*HEADER*/
.header {
  display: inline-block;
}
/*FIRST RED DIV*/
.first-div {
  background: red;
  color: white;
}
.shoe1 {
  height: 175px;
}
.first {

}



.third {
  background: red;
}
.pink {
  background: pink;
}
.left {
  color: orange;
  /*float: left;*/
}
.right {
  color: orange;
  /*float: right;*/
}
h4 {
  color: orange;
}
h3, h5 {
  color: black;
}
h6 {
  color: grey;
}
.third h3 {
  color: white;
}
